html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
  width: 1200px;
  margin-top: 200px;
  margin-left: 200px;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tr {
  margin-bottom: 50px;
}
tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.showMoreButton {
  background-color: blue;
  color: white;
  width: 100px;
  border-radius: 50px;
}

.paginator {
  margin-left: 200px;
}
